ILog.Web/Service References/VipIlogUserInfo/VipIlogUser1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ILogGetUserInfoById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetUserInfoByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogGetUserInfoByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetPersonalUserInfoById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetPersonalUserInfoByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogGetPersonalUserInfoByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetVipUserInsigniaByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetVipUserInsigniaByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogGetVipUserInsigniaByUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetVipIlogInfoById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetVipIlogInfoByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogGetVipIlogInfoByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogSharePicture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="picString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogSharePictureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogSharePictureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetShortUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetShortUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogGetShortUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogAddOriginalInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="original" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogAddOriginalInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogAddOriginalInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetfanInfoByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetfanInfoByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogGetfanInfoByUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogAddCommentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="originalID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="originalUserID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="spreadid" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="spreadUserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogAddCommentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogAddCommentInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogCommentDeleteById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="icid" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogCommentDeleteByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogCommentDeleteByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogForwardingCommentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ilogID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="originalID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogForwardingCommentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogForwardingCommentInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetSpreadWindowContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="spreadId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetSpreadWindowContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogGetSpreadWindowContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetOriginalInfoByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PageCurrent" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ilogid" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ilogtype" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogGetOriginalInfoByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogGetOriginalInfoByUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogSpreadDel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="is_id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogSpreadDelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogSpreadDelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogOriginalDel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="is_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ILogOriginalDelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ILogOriginalDelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ILogGetUserInfoByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ILogGetUserInfoById" />
  </wsdl:message>
  <wsdl:message name="ILogGetUserInfoByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ILogGetUserInfoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILogGetPersonalUserInfoByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ILogGetPersonalUserInfoById" />
  </wsdl:message>
  <wsdl:message name="ILogGetPersonalUserInfoByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ILogGetPersonalUserInfoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipUserInsigniaByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:ILogGetVipUserInsigniaByUserName" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipUserInsigniaByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:ILogGetVipUserInsigniaByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipIlogInfoByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ILogGetVipIlogInfoById" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipIlogInfoByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ILogGetVipIlogInfoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILogSharePictureSoapIn">
    <wsdl:part name="parameters" element="tns:ILogSharePicture" />
  </wsdl:message>
  <wsdl:message name="ILogSharePictureSoapOut">
    <wsdl:part name="parameters" element="tns:ILogSharePictureResponse" />
  </wsdl:message>
  <wsdl:message name="ILogGetShortUrlSoapIn">
    <wsdl:part name="parameters" element="tns:ILogGetShortUrl" />
  </wsdl:message>
  <wsdl:message name="ILogGetShortUrlSoapOut">
    <wsdl:part name="parameters" element="tns:ILogGetShortUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ILogAddOriginalInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ILogAddOriginalInfo" />
  </wsdl:message>
  <wsdl:message name="ILogAddOriginalInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ILogAddOriginalInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILogGetfanInfoByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:ILogGetfanInfoByUserId" />
  </wsdl:message>
  <wsdl:message name="ILogGetfanInfoByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:ILogGetfanInfoByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILogAddCommentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ILogAddCommentInfo" />
  </wsdl:message>
  <wsdl:message name="ILogAddCommentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ILogAddCommentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILogCommentDeleteByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ILogCommentDeleteById" />
  </wsdl:message>
  <wsdl:message name="ILogCommentDeleteByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ILogCommentDeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILogForwardingCommentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ILogForwardingCommentInfo" />
  </wsdl:message>
  <wsdl:message name="ILogForwardingCommentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ILogForwardingCommentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILogGetSpreadWindowContentSoapIn">
    <wsdl:part name="parameters" element="tns:ILogGetSpreadWindowContent" />
  </wsdl:message>
  <wsdl:message name="ILogGetSpreadWindowContentSoapOut">
    <wsdl:part name="parameters" element="tns:ILogGetSpreadWindowContentResponse" />
  </wsdl:message>
  <wsdl:message name="ILogGetOriginalInfoByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:ILogGetOriginalInfoByUserId" />
  </wsdl:message>
  <wsdl:message name="ILogGetOriginalInfoByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:ILogGetOriginalInfoByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILogSpreadDelSoapIn">
    <wsdl:part name="parameters" element="tns:ILogSpreadDel" />
  </wsdl:message>
  <wsdl:message name="ILogSpreadDelSoapOut">
    <wsdl:part name="parameters" element="tns:ILogSpreadDelResponse" />
  </wsdl:message>
  <wsdl:message name="ILogOriginalDelSoapIn">
    <wsdl:part name="parameters" element="tns:ILogOriginalDel" />
  </wsdl:message>
  <wsdl:message name="ILogOriginalDelSoapOut">
    <wsdl:part name="parameters" element="tns:ILogOriginalDelResponse" />
  </wsdl:message>
  <wsdl:message name="ILogGetUserInfoByIdHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetUserInfoByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetPersonalUserInfoByIdHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetPersonalUserInfoByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipUserInsigniaByUserNameHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipUserInsigniaByUserNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipIlogInfoByIdHttpGetIn">
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipIlogInfoByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogSharePictureHttpGetIn">
    <wsdl:part name="picString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogSharePictureHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetShortUrlHttpGetIn">
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetShortUrlHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogAddOriginalInfoHttpGetIn">
    <wsdl:part name="original" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogAddOriginalInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetfanInfoByUserIdHttpGetIn">
    <wsdl:part name="userId" type="s:string" />
    <wsdl:part name="nickname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetfanInfoByUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogAddCommentInfoHttpGetIn">
    <wsdl:part name="originalID" type="s:string" />
    <wsdl:part name="originalUserID" type="s:string" />
    <wsdl:part name="spreadid" type="s:string" />
    <wsdl:part name="spreadUserID" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogAddCommentInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogCommentDeleteByIdHttpGetIn">
    <wsdl:part name="icid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogCommentDeleteByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogForwardingCommentInfoHttpGetIn">
    <wsdl:part name="ilogID" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="originalID" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="comment" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogForwardingCommentInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetSpreadWindowContentHttpGetIn">
    <wsdl:part name="spreadId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetSpreadWindowContentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetOriginalInfoByUserIdHttpGetIn">
    <wsdl:part name="PageCurrent" type="s:string" />
    <wsdl:part name="PageSize" type="s:string" />
    <wsdl:part name="ilogid" type="s:string" />
    <wsdl:part name="ilogtype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetOriginalInfoByUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogSpreadDelHttpGetIn">
    <wsdl:part name="is_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogSpreadDelHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogOriginalDelHttpGetIn">
    <wsdl:part name="is_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogOriginalDelHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetUserInfoByIdHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetUserInfoByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetPersonalUserInfoByIdHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetPersonalUserInfoByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipUserInsigniaByUserNameHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipUserInsigniaByUserNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipIlogInfoByIdHttpPostIn">
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetVipIlogInfoByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogSharePictureHttpPostIn">
    <wsdl:part name="picString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogSharePictureHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetShortUrlHttpPostIn">
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetShortUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogAddOriginalInfoHttpPostIn">
    <wsdl:part name="original" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogAddOriginalInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetfanInfoByUserIdHttpPostIn">
    <wsdl:part name="userId" type="s:string" />
    <wsdl:part name="nickname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetfanInfoByUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogAddCommentInfoHttpPostIn">
    <wsdl:part name="originalID" type="s:string" />
    <wsdl:part name="originalUserID" type="s:string" />
    <wsdl:part name="spreadid" type="s:string" />
    <wsdl:part name="spreadUserID" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogAddCommentInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogCommentDeleteByIdHttpPostIn">
    <wsdl:part name="icid" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogCommentDeleteByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogForwardingCommentInfoHttpPostIn">
    <wsdl:part name="ilogID" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="originalID" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="comment" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogForwardingCommentInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetSpreadWindowContentHttpPostIn">
    <wsdl:part name="spreadId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetSpreadWindowContentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetOriginalInfoByUserIdHttpPostIn">
    <wsdl:part name="PageCurrent" type="s:string" />
    <wsdl:part name="PageSize" type="s:string" />
    <wsdl:part name="ilogid" type="s:string" />
    <wsdl:part name="ilogtype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogGetOriginalInfoByUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogSpreadDelHttpPostIn">
    <wsdl:part name="is_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogSpreadDelHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ILogOriginalDelHttpPostIn">
    <wsdl:part name="is_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ILogOriginalDelHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="VipIlogUserSoap">
    <wsdl:operation name="ILogGetUserInfoById">
      <wsdl:input message="tns:ILogGetUserInfoByIdSoapIn" />
      <wsdl:output message="tns:ILogGetUserInfoByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetPersonalUserInfoById">
      <wsdl:input message="tns:ILogGetPersonalUserInfoByIdSoapIn" />
      <wsdl:output message="tns:ILogGetPersonalUserInfoByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipUserInsigniaByUserName">
      <wsdl:input message="tns:ILogGetVipUserInsigniaByUserNameSoapIn" />
      <wsdl:output message="tns:ILogGetVipUserInsigniaByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipIlogInfoById">
      <wsdl:input message="tns:ILogGetVipIlogInfoByIdSoapIn" />
      <wsdl:output message="tns:ILogGetVipIlogInfoByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogSharePicture">
      <wsdl:input message="tns:ILogSharePictureSoapIn" />
      <wsdl:output message="tns:ILogSharePictureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetShortUrl">
      <wsdl:input message="tns:ILogGetShortUrlSoapIn" />
      <wsdl:output message="tns:ILogGetShortUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogAddOriginalInfo">
      <wsdl:input message="tns:ILogAddOriginalInfoSoapIn" />
      <wsdl:output message="tns:ILogAddOriginalInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetfanInfoByUserId">
      <wsdl:input message="tns:ILogGetfanInfoByUserIdSoapIn" />
      <wsdl:output message="tns:ILogGetfanInfoByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogAddCommentInfo">
      <wsdl:input message="tns:ILogAddCommentInfoSoapIn" />
      <wsdl:output message="tns:ILogAddCommentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogCommentDeleteById">
      <wsdl:input message="tns:ILogCommentDeleteByIdSoapIn" />
      <wsdl:output message="tns:ILogCommentDeleteByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogForwardingCommentInfo">
      <wsdl:input message="tns:ILogForwardingCommentInfoSoapIn" />
      <wsdl:output message="tns:ILogForwardingCommentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetSpreadWindowContent">
      <wsdl:input message="tns:ILogGetSpreadWindowContentSoapIn" />
      <wsdl:output message="tns:ILogGetSpreadWindowContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetOriginalInfoByUserId">
      <wsdl:input message="tns:ILogGetOriginalInfoByUserIdSoapIn" />
      <wsdl:output message="tns:ILogGetOriginalInfoByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogSpreadDel">
      <wsdl:input message="tns:ILogSpreadDelSoapIn" />
      <wsdl:output message="tns:ILogSpreadDelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogOriginalDel">
      <wsdl:input message="tns:ILogOriginalDelSoapIn" />
      <wsdl:output message="tns:ILogOriginalDelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="VipIlogUserHttpGet">
    <wsdl:operation name="ILogGetUserInfoById">
      <wsdl:input message="tns:ILogGetUserInfoByIdHttpGetIn" />
      <wsdl:output message="tns:ILogGetUserInfoByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetPersonalUserInfoById">
      <wsdl:input message="tns:ILogGetPersonalUserInfoByIdHttpGetIn" />
      <wsdl:output message="tns:ILogGetPersonalUserInfoByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipUserInsigniaByUserName">
      <wsdl:input message="tns:ILogGetVipUserInsigniaByUserNameHttpGetIn" />
      <wsdl:output message="tns:ILogGetVipUserInsigniaByUserNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipIlogInfoById">
      <wsdl:input message="tns:ILogGetVipIlogInfoByIdHttpGetIn" />
      <wsdl:output message="tns:ILogGetVipIlogInfoByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogSharePicture">
      <wsdl:input message="tns:ILogSharePictureHttpGetIn" />
      <wsdl:output message="tns:ILogSharePictureHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetShortUrl">
      <wsdl:input message="tns:ILogGetShortUrlHttpGetIn" />
      <wsdl:output message="tns:ILogGetShortUrlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogAddOriginalInfo">
      <wsdl:input message="tns:ILogAddOriginalInfoHttpGetIn" />
      <wsdl:output message="tns:ILogAddOriginalInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetfanInfoByUserId">
      <wsdl:input message="tns:ILogGetfanInfoByUserIdHttpGetIn" />
      <wsdl:output message="tns:ILogGetfanInfoByUserIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogAddCommentInfo">
      <wsdl:input message="tns:ILogAddCommentInfoHttpGetIn" />
      <wsdl:output message="tns:ILogAddCommentInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogCommentDeleteById">
      <wsdl:input message="tns:ILogCommentDeleteByIdHttpGetIn" />
      <wsdl:output message="tns:ILogCommentDeleteByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogForwardingCommentInfo">
      <wsdl:input message="tns:ILogForwardingCommentInfoHttpGetIn" />
      <wsdl:output message="tns:ILogForwardingCommentInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetSpreadWindowContent">
      <wsdl:input message="tns:ILogGetSpreadWindowContentHttpGetIn" />
      <wsdl:output message="tns:ILogGetSpreadWindowContentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetOriginalInfoByUserId">
      <wsdl:input message="tns:ILogGetOriginalInfoByUserIdHttpGetIn" />
      <wsdl:output message="tns:ILogGetOriginalInfoByUserIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogSpreadDel">
      <wsdl:input message="tns:ILogSpreadDelHttpGetIn" />
      <wsdl:output message="tns:ILogSpreadDelHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogOriginalDel">
      <wsdl:input message="tns:ILogOriginalDelHttpGetIn" />
      <wsdl:output message="tns:ILogOriginalDelHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="VipIlogUserHttpPost">
    <wsdl:operation name="ILogGetUserInfoById">
      <wsdl:input message="tns:ILogGetUserInfoByIdHttpPostIn" />
      <wsdl:output message="tns:ILogGetUserInfoByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetPersonalUserInfoById">
      <wsdl:input message="tns:ILogGetPersonalUserInfoByIdHttpPostIn" />
      <wsdl:output message="tns:ILogGetPersonalUserInfoByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipUserInsigniaByUserName">
      <wsdl:input message="tns:ILogGetVipUserInsigniaByUserNameHttpPostIn" />
      <wsdl:output message="tns:ILogGetVipUserInsigniaByUserNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipIlogInfoById">
      <wsdl:input message="tns:ILogGetVipIlogInfoByIdHttpPostIn" />
      <wsdl:output message="tns:ILogGetVipIlogInfoByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogSharePicture">
      <wsdl:input message="tns:ILogSharePictureHttpPostIn" />
      <wsdl:output message="tns:ILogSharePictureHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetShortUrl">
      <wsdl:input message="tns:ILogGetShortUrlHttpPostIn" />
      <wsdl:output message="tns:ILogGetShortUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogAddOriginalInfo">
      <wsdl:input message="tns:ILogAddOriginalInfoHttpPostIn" />
      <wsdl:output message="tns:ILogAddOriginalInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetfanInfoByUserId">
      <wsdl:input message="tns:ILogGetfanInfoByUserIdHttpPostIn" />
      <wsdl:output message="tns:ILogGetfanInfoByUserIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogAddCommentInfo">
      <wsdl:input message="tns:ILogAddCommentInfoHttpPostIn" />
      <wsdl:output message="tns:ILogAddCommentInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogCommentDeleteById">
      <wsdl:input message="tns:ILogCommentDeleteByIdHttpPostIn" />
      <wsdl:output message="tns:ILogCommentDeleteByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogForwardingCommentInfo">
      <wsdl:input message="tns:ILogForwardingCommentInfoHttpPostIn" />
      <wsdl:output message="tns:ILogForwardingCommentInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetSpreadWindowContent">
      <wsdl:input message="tns:ILogGetSpreadWindowContentHttpPostIn" />
      <wsdl:output message="tns:ILogGetSpreadWindowContentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogGetOriginalInfoByUserId">
      <wsdl:input message="tns:ILogGetOriginalInfoByUserIdHttpPostIn" />
      <wsdl:output message="tns:ILogGetOriginalInfoByUserIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogSpreadDel">
      <wsdl:input message="tns:ILogSpreadDelHttpPostIn" />
      <wsdl:output message="tns:ILogSpreadDelHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ILogOriginalDel">
      <wsdl:input message="tns:ILogOriginalDelHttpPostIn" />
      <wsdl:output message="tns:ILogOriginalDelHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VipIlogUserSoap" type="tns:VipIlogUserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ILogGetUserInfoById">
      <soap:operation soapAction="http://tempuri.org/ILogGetUserInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetPersonalUserInfoById">
      <soap:operation soapAction="http://tempuri.org/ILogGetPersonalUserInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipUserInsigniaByUserName">
      <soap:operation soapAction="http://tempuri.org/ILogGetVipUserInsigniaByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipIlogInfoById">
      <soap:operation soapAction="http://tempuri.org/ILogGetVipIlogInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogSharePicture">
      <soap:operation soapAction="http://tempuri.org/ILogSharePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetShortUrl">
      <soap:operation soapAction="http://tempuri.org/ILogGetShortUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogAddOriginalInfo">
      <soap:operation soapAction="http://tempuri.org/ILogAddOriginalInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetfanInfoByUserId">
      <soap:operation soapAction="http://tempuri.org/ILogGetfanInfoByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogAddCommentInfo">
      <soap:operation soapAction="http://tempuri.org/ILogAddCommentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogCommentDeleteById">
      <soap:operation soapAction="http://tempuri.org/ILogCommentDeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogForwardingCommentInfo">
      <soap:operation soapAction="http://tempuri.org/ILogForwardingCommentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetSpreadWindowContent">
      <soap:operation soapAction="http://tempuri.org/ILogGetSpreadWindowContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetOriginalInfoByUserId">
      <soap:operation soapAction="http://tempuri.org/ILogGetOriginalInfoByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogSpreadDel">
      <soap:operation soapAction="http://tempuri.org/ILogSpreadDel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogOriginalDel">
      <soap:operation soapAction="http://tempuri.org/ILogOriginalDel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VipIlogUserSoap12" type="tns:VipIlogUserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ILogGetUserInfoById">
      <soap12:operation soapAction="http://tempuri.org/ILogGetUserInfoById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetPersonalUserInfoById">
      <soap12:operation soapAction="http://tempuri.org/ILogGetPersonalUserInfoById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipUserInsigniaByUserName">
      <soap12:operation soapAction="http://tempuri.org/ILogGetVipUserInsigniaByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipIlogInfoById">
      <soap12:operation soapAction="http://tempuri.org/ILogGetVipIlogInfoById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogSharePicture">
      <soap12:operation soapAction="http://tempuri.org/ILogSharePicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetShortUrl">
      <soap12:operation soapAction="http://tempuri.org/ILogGetShortUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogAddOriginalInfo">
      <soap12:operation soapAction="http://tempuri.org/ILogAddOriginalInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetfanInfoByUserId">
      <soap12:operation soapAction="http://tempuri.org/ILogGetfanInfoByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogAddCommentInfo">
      <soap12:operation soapAction="http://tempuri.org/ILogAddCommentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogCommentDeleteById">
      <soap12:operation soapAction="http://tempuri.org/ILogCommentDeleteById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogForwardingCommentInfo">
      <soap12:operation soapAction="http://tempuri.org/ILogForwardingCommentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetSpreadWindowContent">
      <soap12:operation soapAction="http://tempuri.org/ILogGetSpreadWindowContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetOriginalInfoByUserId">
      <soap12:operation soapAction="http://tempuri.org/ILogGetOriginalInfoByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogSpreadDel">
      <soap12:operation soapAction="http://tempuri.org/ILogSpreadDel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogOriginalDel">
      <soap12:operation soapAction="http://tempuri.org/ILogOriginalDel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VipIlogUserHttpGet" type="tns:VipIlogUserHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ILogGetUserInfoById">
      <http:operation location="/ILogGetUserInfoById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetPersonalUserInfoById">
      <http:operation location="/ILogGetPersonalUserInfoById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipUserInsigniaByUserName">
      <http:operation location="/ILogGetVipUserInsigniaByUserName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipIlogInfoById">
      <http:operation location="/ILogGetVipIlogInfoById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogSharePicture">
      <http:operation location="/ILogSharePicture" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetShortUrl">
      <http:operation location="/ILogGetShortUrl" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogAddOriginalInfo">
      <http:operation location="/ILogAddOriginalInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetfanInfoByUserId">
      <http:operation location="/ILogGetfanInfoByUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogAddCommentInfo">
      <http:operation location="/ILogAddCommentInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogCommentDeleteById">
      <http:operation location="/ILogCommentDeleteById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogForwardingCommentInfo">
      <http:operation location="/ILogForwardingCommentInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetSpreadWindowContent">
      <http:operation location="/ILogGetSpreadWindowContent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetOriginalInfoByUserId">
      <http:operation location="/ILogGetOriginalInfoByUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogSpreadDel">
      <http:operation location="/ILogSpreadDel" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogOriginalDel">
      <http:operation location="/ILogOriginalDel" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VipIlogUserHttpPost" type="tns:VipIlogUserHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ILogGetUserInfoById">
      <http:operation location="/ILogGetUserInfoById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetPersonalUserInfoById">
      <http:operation location="/ILogGetPersonalUserInfoById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipUserInsigniaByUserName">
      <http:operation location="/ILogGetVipUserInsigniaByUserName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetVipIlogInfoById">
      <http:operation location="/ILogGetVipIlogInfoById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogSharePicture">
      <http:operation location="/ILogSharePicture" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetShortUrl">
      <http:operation location="/ILogGetShortUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogAddOriginalInfo">
      <http:operation location="/ILogAddOriginalInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetfanInfoByUserId">
      <http:operation location="/ILogGetfanInfoByUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogAddCommentInfo">
      <http:operation location="/ILogAddCommentInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogCommentDeleteById">
      <http:operation location="/ILogCommentDeleteById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogForwardingCommentInfo">
      <http:operation location="/ILogForwardingCommentInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetSpreadWindowContent">
      <http:operation location="/ILogGetSpreadWindowContent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogGetOriginalInfoByUserId">
      <http:operation location="/ILogGetOriginalInfoByUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogSpreadDel">
      <http:operation location="/ILogSpreadDel" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ILogOriginalDel">
      <http:operation location="/ILogOriginalDel" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VipIlogUser">
    <wsdl:port name="VipIlogUserSoap" binding="tns:VipIlogUserSoap">
      <soap:address location="http://ig.instrument.com.cn/ilogWebService/VipIlogUser.asmx" />
    </wsdl:port>
    <wsdl:port name="VipIlogUserSoap12" binding="tns:VipIlogUserSoap12">
      <soap12:address location="http://ig.instrument.com.cn/ilogWebService/VipIlogUser.asmx" />
    </wsdl:port>
    <wsdl:port name="VipIlogUserHttpGet" binding="tns:VipIlogUserHttpGet">
      <http:address location="http://ig.instrument.com.cn/ilogWebService/VipIlogUser.asmx" />
    </wsdl:port>
    <wsdl:port name="VipIlogUserHttpPost" binding="tns:VipIlogUserHttpPost">
      <http:address location="http://ig.instrument.com.cn/ilogWebService/VipIlogUser.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>